@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster/lobster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face{
    font-family:'Montserrat';
    src: url('../fonts/Montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.becomeseller-page .wrapper > .header{
  min-height: 100vh;
}

.becomeseller-page .wrapper .card-signup {
    margin: 160px 0 40px;
}

.becomeseller-page .footer .copyright, .becomeseller-page .footer a {
    color: #FFFFFF;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 26px;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.becomeseller-page .wrapper > .header{
    background-image: url(../img/zen.jpg);
    background-size: cover;
    background-position: top center;
}


.modal-body-form .input-group{
    padding: 0px 0px;
    padding-left: 30px;
    box-sizing: border-box;
    padding-right: 50px;
}

#becomeSellerButton{
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-top: 30px;
}

#signUpButton{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.social{
    margin-top: 0px;
    margin-bottom: 0px;
}

.modal-content .modal-body{
    padding: 0px;
}

.navbar{
    margin-bottom: 0px;
}

.header-tag{
  color:white;
}

.col-sm-6.radio.text-center{
  margin-top: 10px;
}

.radio label .circle{
  width: 3em;
  height: 3em;
}

.radio label .check{
  width: 3em;
  height: 3em;
}

.radio label input[type=radio]:checked ~ .check:after{
  animation:none;
}

.farmtype {
    margin-left: 30px;
    font-family: montserrat;
    margin-bottom: -15px;
}

.form-label{
  margin-top: 0;
    margin-bottom: 0;
    padding-left: 33px;
}

.form-group.is-focused .form-control{
    background-image: linear-gradient(to bottom, #03a9f4 0%, #03a9f4 100%);
}

.form-group.is-focused label, .form-group.is-focused label.control-label{
  color: #03a9f4;
}

.radio input[type=radio]:checked ~ .circle {
    border-color: #03a9f4;
}

.radio input[type=radio]:checked ~ .check {
    border-color: #03a9f4;
}

.radio input[type=radio]:checked ~ .check {
    background-color: #03a9f4;
}
