@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster/lobster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face{
    font-family:'Montserrat';
    src: url('../fonts/Montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.sidebar-wrapper .logo .simple-text{
  font-family: "Lobster";
  text-transform: none;
  font-size: 35px;
}

body > .navbar-collapse .logo .simple-text{
  font-family: "Lobster";
  text-transform: none;
  font-size: 35px;
}

.sidebar .nav p{
  font-family: "Montserrat";
  font-weight: 100;
}

.toolbar > h4{
    color:white;
    padding-left: 30px;
    margin-top:16px;
    font-family: 'Montserrat';
    font-size: 30px;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.toolbar > h4 > i {
  margin-right: 15px;
}

/* CHARTS n shit*/

#productVarPie .ct-label,
#productTypePie .ct-label{
  font-size: 25px;
  color: black;
  fill: #302626;
  font-family: montserrat;
}

#productVarLine .ct-label,
#productTypeLine .ct-label,
#sellerLine .ct-label{
  font-size: 14px;
  color: black;
  fill: #302626;
  font-family: montserrat;
}


/*Product Type Var Color*/
.ct-series-a .ct-area, .ct-series-a .ct-slice-pie {
    fill: #ff4a55;
}

.ct-series-b .ct-area, .ct-series-b .ct-slice-pie {
    fill: #1dc7ea;
}

.ct-series-c .ct-area, .ct-series-c .ct-slice-pie {
    fill: #FFEB3B;
}

/*PRoduct Type Var Color*/
#productVarPie .ct-series-a .ct-area, #productVarPie .ct-series-a .ct-slice-pie {
  fill: #BCAAA4;
}

#productVarPie .ct-series-b .ct-area, #productVarPie .ct-series-b .ct-slice-pie {
      fill: #FF9800;
}

#productVarPie .ct-series-c .ct-area, #productVarPie .ct-series-c .ct-slice-pie {
  fill: #CDDC39 ;
}

.productVarPie .text-info{
  fill: #BCAAA4 !important;;
  color: #BCAAA4 !important;;
}

.productVarPie .text-danger{
  fill: #FF9800 !important;;
  color: #FF9800 !important;;
}

.productVarPie .text-warning{
  fill: #CDDC39 !important;
  color: #CDDC39 !important;
}

#productTypeLine .ct-series-a .ct-line, #productTypeLine .ct-series-a .ct-point{
  stroke: #673AB7;
}

#productTypeLine .ct-series-b .ct-line, #productTypeLine .ct-series-b .ct-point{
  stroke: #03A9F4;
}

#productTypeLine .ct-series-c .ct-line, #productTypeLine .ct-series-c .ct-point{
  stroke: #FFC107
}

#productVarLine .ct-series-a .ct-line, #productVarLine .ct-series-a .ct-point{
  stroke: #009688
}

#productVarLine .ct-series-b .ct-line, #productVarLine .ct-series-b .ct-point{
  stroke: #03A9F4;
}

#productVarLine .ct-series-c .ct-line, #productVarLine .ct-series-c .ct-point{
  stroke: #E91E63
}

.productTypeLine .text-info{
  fill: #673AB7 !important;
  color: #673AB7 !important;
}

.productTypeLine .text-danger{
  fill: #03A9F4 !important;;
  color: #03A9F4 !important;;
}

.productTypeLine .text-warning{
  fill: ##FFC107 !important;
  color: ##FFC107 !important;
}

.productVarLine .text-info{
  fill: #009688 !important;
  color: #009688 !important;
}

.productVarLine .text-danger{
  fill: #03A9F4 !important;;
  color: #03A9F4 !important;;
}

.productVarLine .text-warning{
  fill: #E91E63 !important;
  color: #E91E63 !important;
}

#productTrendBar .ct-label.ct-horizontal {
  font-size: 20px;
  font-family: "montserrat";
  color: black;
}

#productTrendBar .ct-label.ct-vertical.ct-start {
  font-size: 14px;
  font-family: "montserrat";
  color: black;
}

#productTrendBar .ct-bar{
  stroke-width: 30px;
}

#productTrendBar .ct-series-a .ct-bar:nth-child(1){
  stroke: #CE9943;
  color: #CE9943;
}
#productTrendBar .ct-series-a .ct-bar:nth-child(2){
  stroke: #76B83C;
  color: #76B83C;
}
#productTrendBar .ct-series-a .ct-bar:nth-child(3){
  stroke: #B73C63;
  color: #B73C63;
}
#productTrendBar .ct-series-a .ct-bar:nth-child(4){
  stroke: #3F3D90;
  color: #3F3D90;
}
#productTrendBar .ct-series-a .ct-bar:nth-child(5){
  stroke: #B5C841;
  color: #B5C841;
}
#productTrendBar .ct-series-a .ct-bar:nth-child(6){
  stroke: #384B8B;
  color: #384B8B;
}
#productTrendBar .ct-series-a .ct-bar:nth-child(7){
  stroke: #CEA343;
  color: #CEA343;
}
#productTrendBar .ct-series-a .ct-bar:nth-child(8){
  stroke: #AC386F;
  color: #AC386F;
}
#productTrendBar .ct-series-a .ct-bar:nth-child(9){
  stroke: #2F8F61;
  color: #2F8F61;
}

/*==============================================*/

.productVarLine .text-info:nth-child(1){
  stroke: #CE9943 !important;
  color: #CE9943 !important;
}
.productVarLine .text-info:nth-child(2){
  stroke: #76B83C !important;
  color: #76B83C !important;
}
.productVarLine .text-info:nth-child(3){
  stroke: #B73C63 !important;
  color: #B73C63 !important;
}
.productVarLine .text-info:nth-child(4){
  stroke: #3F3D90 !important;
  color: #3F3D90 !important;
}
.productVarLine .text-info:nth-child(5){
  stroke: #B5C841 !important;
  color: #B5C841 !important;
}
.productVarLine .text-info:nth-child(6){
  stroke: #384B8B !important;
  color: #384B8B !important;
}
.productVarLine .text-info:nth-child(7){
  stroke: #CEA343 !important;
  color: #CEA343 !important;
}
.productVarLine .text-info:nth-child(8){
  stroke: #AC386F !important;
  color: #AC386F !important;
}
.productVarLine .text-info:nth-child(9){
  stroke: #2F8F61 !important;
  color: #2F8F61 !important;
}

.fresh-table{
  margin-bottom:20px;
}

.card.blue{
  background-color: #3F51B5
}
.card.green{
  background-color: #4caf50;
}
.card.red {
  background-color: #FF5722;
}
.card.yellow{
  background-color: #FFC107
}

.card.blue .category,
.card.blue .stats{
  color: white;
}
.card.green .category,
.card.green .stats{
  color: white;
}
.card.red .category,
.card.red .stats{
  color: white;
}
.card.yellow .category,
.card.yellow .stats{
  color:white;
}

#registeredUserBar .ct-label.ct-horizontal{
  font-size: 20px;
  font-family: montserrat;
  color: #4a4a4a;
}

#registeredUserBar .ct-label.ct-vertical{
  font-size: 15px;
  font-family: montserrat;
  color: #4a4a4a;
}

.numbers .title,
.numbers .content{
  color: white;
}
